*{
    margin:0;
    padding: 0;
   
}

.calculator{
    border: solid black 2px;
    border-radius: 8px;
    
    
}

.display-box{
    padding: 27px;
    margin: 14px;
    font-size: 21px;
}

.btn{
   
}


.number{
    padding: 20px 50px 20px 50px;
    border-radius: 30px;
    font-size: 31px;
    margin: 2px;
    color: rgb(27, 26, 26);
     
}
